body{
    margin:0;
}
h1 {
    display:block;
    background-color: #183f26;
    padding: 50px;
    color: whitesmoke;
    text-align:center;
    margin: 0;
}
#listColumn {
    font-size: large;
    text-align:center;
    display:grid;
    grid-template-columns: 7fr 2fr 1fr 2fr 1fr 2fr 7fr;
    padding:30px;
    background-color: whitesmoke;
}
h2{
    display: block;
    background-color: white;
    padding:30px;
    text-align:center;
}

.containerHpns{
    display: grid;
    font-size:large;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    gap : 20px;
    vertical-align: middle;
}
.containerBf{
    display: grid;
    font-size : medium;
    text-align: left;
    grid-template-columns: 1fr 4fr 2fr;
    gap: 30px;
    vertical-align: middle;
}
.tbImg{
    display:block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.column{
    border-bottom: darkblue;
}
a:link{
    color:#183f26;
    text-decoration: none;
}
a:visited{
    color:#183f26;
    text-decoration: none;
}
a:active{
    color:#183f26;
    text-decoration: none;
}